[submodule "backend/vendor/PyFLP_enhanced"]
	path = backend/vendor/PyFLP_enhanced
	url = https://github.com/aernw1/PyFLP_enhanced.git
	branch = master
[submodule "plugin_poc/JUCE"]
	path = plugin_poc/JUCE
	url = https://github.com/juce-framework/JUCE.git
